html,body{
  padding:0;
  margin:0;
  text-align: center;
}
:root{
  --orange:#FF7E47;
  --vermillion:#FF4500;
  --darkred:#b22f2f;
  --cinnabar:#E74C3C;
  --charade:#282c37;
  --meadow:#1ABC9C;
  --black:#0e1111;
  --paper:#F4F4F4;
}
/*Nav*/
#landing-nav{
  width: 100%;
  height: 6vmax;
  background-color: var(--black);
  position: fixed;
  z-index: 300;
}
#landing-nav ul{
  display: inline-block;
  list-style:none;
  margin:0;
  padding:0;
  height: 6vmax;
}
.left-nav{
  float:left;
  text-align: right;
  width: 45%;
}
.right-nav{
  float:right;
  width: 45%;
  text-align: left;
}
.nav-item{
  display:inline-block;
  padding: 1vmax;
  font-size: 1.75vmax;
  color: var(--paper);
  cursor: pointer;
  font-family: 'Permanent Marker', cursive;
  position: relative;
  transition: all ease-in-out 200ms;
  z-index: 3;
}
.nav-item a{
  text-decoration: none;
  color:inherit;
}
.nav-item:after {
  display:block;
  content: '';
  margin-top:5px;
  border-bottom:3px solid var(--darkred);
  transform: scaleX(0);  
  transition: transform 130ms ease-in-out;
  border-radius:1px;
}
.nav-item:hover:after { transform: scaleX(1); }
.left-nav li{margin: 1vmax 2vmax 1vmax 0vmax;}
.right-nav li{
  margin: 1vmax 0vmax 1vmax 2vmax;
}
.nav-logo{
  position: absolute;
  height: 9vmax;
  width:100%;
  text-align: center;
  top: 1vmax;
  transition: all ease-in-out 170ms;
}
.nav-logo-inset{
  top: 0;
  height: 6vmax;
}
.nav-logo-inset img{
  width: 6vmax  !important;
}
.nav-logo img{
  width:9vmax;
  height:100%;
}
/* Landing Page */
#landing{
  width: 100%;
  position: relative;
  height: 70vh;
  max-height: 700px;
  overflow: hidden;
}
.landing-links{
  list-style: none;
  padding: 0;
  position: absolute;
  top:45%;
  width: 100%;
  text-align: center;
}
.landing-link-item{
  display: inline-block;
  font-size: 2.7vmax;
  font-family: "Cuprum", sans-serif;
  font-weight: bolder;
  background-color:transparent;
  border:2px solid var(--paper);
  color: var(--paper);
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  padding:2vmax 3vmax; 
  margin:0 16vmax 0 9vmax;
  transition: all 0.2s linear;
}
.landing-link-item:hover{
  border:2px solid var(--orange);
  background-color:var(--orange);
}
.landing-video{
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}
/*About*/
#about{
  width:100%;
  background-color:var(--paper);
  position: relative;
}
.about-header{
  text-align: center;
  position: relative;
  top: -3.5vmax;
}
.about-header h1{
  font-size: 4vmax;
  margin: 0;
  color: var(--paper);
  display: inline-block;
  padding: 1vmax 2vmax;
  letter-spacing: 1.3px;
  background-color: var(--black);
  text-transform: uppercase;
  font-family: "Cuprum", sans-serif;
}
.about-shop,.about-owner{
  height: 38vmax;
  max-height: 465px;
  width:100%;
  overflow: hidden;
}
.about-img{
  display:inline-block;
  margin: 0 3vmax 0 3vmax;
  width: 31vmax;
  max-width: 400px;
}
.about-text{
  font-family: "Slabo 27px", sans-serif;
  font-size: 1.8vmax;
  max-height: 400px;
  color: var(--charade);
  display: block;
  height: inherit;
  width: 90%;
  word-break: break-all;
  float: none;
}
#about-shop-img{
  float: left;
}
#about-shop-text{
  text-align: left;
  margin-top:4vmax;
}
#about-owner-img{
  float:right;
}
#about-owner-text{
  text-align:left;
  margin:5vmax 0 0 3vmax;
}
/*Large Displays*/
@media only screen and (min-width:1400px){
  /*About*/
  .about-text{
    font-size:29px;
  }
}

/*Mobile*/
@media only screen and (max-width:700px){
  /*About*/
  .about-text{
    font-size:2.2vmin;
    margin-top:3vmin !important;
  }
  .about-img{
    width:39vmin;
  }
}